#todoForm{
    background-color: peru;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;

}
#todo{
    width: 90%;
    height: 30px;
     padding: 10;
    border-radius:10px;
}
#submitButton{
    width:50%;
    background-color: aquamarine;
    border-radius: 10px;

}
ul{
    list-style-type: decimal-leading-zero;

}
ul>li{
    margin:10px;
    padding: 10px;
    font-size:30px;
}