.navbar{
  height: 30px;
  width: 100%;
  background-color: blueviolet;
  color: aliceblue;
  padding: 10px;
}

.navbar>a{
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  
}

.navbar>a:hover{
  background-color: blue;
}

.home{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;

}

.home>button{
  height: 200px;
  width: 200px;
  background-color: black;
  color: white;
  border-radius: 50%;
  
}
.home>button:focus{
  outline: none;
}